* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.child-view {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transition: all .4s ease;
}

.slide-left-leave-active,
.slide-left-enter-active {
  transition: all ease .6s;
}

.slide-right-leave-active,
.slide-right-enter-active {
  transition: all ease .3s;
}

.slide-left-enter,
.slide-right-leave-active {
  transform: translate(-100%, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  transform: translate(100%, 0);
}

.slideIn-leave-active,
.slideIn-enter-active {
  transition: all ease .6s;
}

.slideIn-enter,
.slideIn-leave-active {
  transform: translate(100%, 0);
}


