@charset "UTF-8";

@font-face {
  font-family: "FangZhengFangSong";
  src:
    url("../fonts/FangZhengFangSong-GBK-1.woff") format("woff"),
    url("../fonts/FangZhengFangSong-GBK-1.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}