@charset "UTF-8";

@font-face {
  font-family: "FangZhengFangSong";
  src:
    url("../../../src/assets/fonts/FangZhengFangSong-GBK-1.woff") format("woff"),
    url("../../../src/assets/fonts/FangZhengFangSong-GBK-1.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}