@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(../icons/MaterialIcons-Regular.woff2) format('woff2'), url(../icons/MaterialIcons-Regular.woff) format('woff');
}

.font-icons {
	font-family: 'Material Icons' !important;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
}
.font-icons,
.font-icons::before {
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	color: inherit;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	vertical-align: middle;
	direction: ltr;
}




